<div id="foot">
	  		<div id="foot-center">
	  		<div id="foot-l">
	  				<span class="span-1"><a href="http://atc.beihua.edu.cn/">北华大学分析测试中心</a></span>
	  				<div class="foot-img" style="margin-left: 50px;"><span>北华大学微信平台</span><img src="__PUBLIC__/index/images/北华大学微信平台.png" class="chat-img"></div>
	  				<div class="foot-img"><span>北华大学就业微信平台</span><img src="__PUBLIC__/index/images/北华大学就业微信平台.png" class="chat-img chat-r" ></div>

	  		</div>
	  				<div id="foot-r">
	  				<ul style="list-style-type: none;">
	  				<li>
	  				友情链接:
	  				{volist name="getlink" id="link"}
	  				<a style="text-decoration: none;color:red" href="{$link.url}"><span>{$link.title}</span></a>
	  				
	  				{/volist}
	  				</li>
	  				<li>联系我们：&nbsp咨询电话：0432-64608369  &nbsp &nbsp  邮编：132013</li>
	  				<li>地址：吉林市滨江东路3999号</li>
	  				<li>技术支持：北华大学科学技术学院创新实践基地经纬工作室</li>
	  				<li>版权所有：comptuer college of beihua univesity all copyrights reserved 2018</li>
	  				<li>未经同意，不得转载任何信息&nbsp 违者必究</li>
	  				</ul>

	  				</div>
	  		</div>
	  </div>		